<header>
	<h1><a href="{{ path('homepage') }}">Keboola</a></h1>
	<div class="mobile-menu">
		<a href="" class="login-btn">LOGIN</a>
		<a href="" class="mobile-btn"></a>
	</div>
	<nav><ul>
			<li><a href="{{ path('stories') }}">SUCCESS STORIES</a></li>
			{#<li><a href="">PARTNERS</a></li>#}
			<li class="item-remove-second"><a href="{{ path('use-cases') }}">USE CASES</a></li>
			<li class="item-remove-first"><a href="{{ path('partners') }}">PARTNERS</a></li>
			{#<li class="about-item"><a href="">ABOUT</a></li>#}

			{#<li class="pull-right login-item"><a href="">LOGIN</a></li>#}
			<li class="pull-right"><a href="{{ path('contact') }}">CONTACT</a></li>
		</ul></nav>
</header>
