<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>{% block title %}{% endblock %}Keboola</title>
	<meta name="description" content="{% block description %}Keboola is a global BI consulting company. We are a team of data geeks spanning two continents and nine time zones ready to help you understand your data in the ways that you wanted to months ago.{% endblock %}">
	<meta name="author" content="Keboola">
	<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">

	{% block og %}
	<meta property="fb:app_id" content="486245961539147">
	<meta property="og:type" content="website">
	<meta property="og:url" content="http://www.keboola.com">
	<meta property="og:site_name" content="Keboola">
	<meta property="og:title" content="Keboola">
	<meta property="og:description" content="Keboola is a global BI consulting company. We are a team of data geeks spanning two continents and nine time zones ready to help you understand your data in the ways that you wanted to months ago.">
	<meta property="og:image" content="http://www.keboola.com/img/keboola-web-screen.png">
	<meta property="og:image:width" content="1200">
	<meta property="og:image:height" content="630">
	{% endblock %}

	<link rel="shortcut icon" href="/favicon.ico">

	<link href="/js/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="/css/style.css?v=3">
	<link rel="stylesheet" href="//cloud.typography.com/7256532/804066/css/fonts.css" />

	<link href="/css/lightbox.css" rel="stylesheet" />

	<!--[if lte IE 8]><script src="/js/libs/respond.min.js"></script><![endif]-->
	<script src="/js/libs/jquery-1.10.2.min.js"></script>
	<script src="/js/libs/bootstrap/js/bootstrap.min.js"></script>
	<script src="/js/libs/modernizr.js"></script>
	<script src="/js/libs/lightbox.min.js"></script>
	<script src="/js/libs/jquery.validate.min.js"></script>

</head>
<body>
<div class="page">
	{% for item in app.session.flashbag.get('info') %}
		<div class="alert alert-info"><strong>{{ item }}</strong></div>
	{% endfor %}

	{% for item in app.session.flashbag.get('success') %}
		<div class="alert alert-success"><strong>{{ item }}</strong></div>
	{% endfor %}

	{% for item in app.session.flashbag.get('error') %}
		<div class="alert alert-danger"><strong>{{ item }}</strong></div>
	{% endfor %}

	{% block head %}
	{% endblock %}

	{% block content %}
	{% endblock %}

	<footer><div class="in">
			<ul>
				<li><a href="mailto:support@keboola.com">Support</a></li>
				<li><a href="http://blog.keboola.com" target="_blank">Blog</a></li>
				<li><a href="{{ path('jobs') }}">Jobs</a></li>
			</ul>
			<ul>
				<li><a href="{{ path('contact') }}">Contact</a></li>
				<li><a href="http://wiki.keboola.com" target="_blank">Wiki</a></li>
				<li><a href="http://github.com/keboola" target="_blank">GitHub sources</a></li>
			</ul>

			<ul class="pull-right">
				<li><a href="https://www.facebook.com/KeboolaHQ" class="fb">Facebook</a></li>
				<li><a href="https://twitter.com/keboola" class="tw" target="_blank">Twitter</a></li>
				<li><a href="https://www.linkedin.com/company/keboola" class="linked" target="_blank">LinkedIn</a></li>
			</ul>
		</div></footer>
</div>

<!--script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script-->
<script>window.jQuery || document.write("<script src='/js/libs/jquery-1.10.2.min.js'>\x3C/script>")</script>
<script src="/js/global.js"></script>

<script type="text/javascript">

	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-38521826-1']);
	_gaq.push(['_setDomainName', 'keboola.com']);
	_gaq.push(['_trackPageview']);

	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();

</script>

</body>
</html>
