{% extends "layout.html.twig" %}

{% block title %}Partners | {% endblock %}

{% block description %}Keboola has a wide network of partners. Here you can find more information about them.{% endblock %}

{% block head %}
	{% include "header.html.twig" %}
	<div class="header partners-header"><div class="in">
		<article>
			<h1>Partners</h1>
			<ul class="partners-head-list">
				<li>
					<i class="ico-first"></i>
					<h2><strong>IMPLEMENTATION</strong><br>partners</h2>
					<p>They work with you to understand your business questions and then set up the entire data process. The end result is a custom product specific to your unique needs.</p>
				</li>
				<li>
					<i class="ico-second"></i>
					<h2><strong>DEVELOPER</strong><br>partners</h2>
					<p>They create Data Science and special apps, transformation templates and dream up new ways to enhance your interaction with data. They define data innovation.</p>
				</li>
				<li>
					<i class="ico-third"></i>
					<h2><strong>OEM KEBOOLA</strong><br>partners</h2>
					<p>Using Keboola technologies, these entrepreneurs built their own data products. Re-selling under their brand they are delivering data to customers while growing their business.</p>
				</li>
			</ul>
		</article>
	</div></div>
{% endblock %}

{% block content %}
		<section>
			<div class="article-box"><div class="in-second">
				<h1>Browse Keboola <strong>partners</strong></h1>
				<ul class="partners-list">
					<li>
						<a href="{{ path('partner_detail', {partner: 'bizztreat'}) }}">
							<article>
								<h1>BizzTreat.com</h1>
								<h2>#INTEGRATION #DATAHERO</h2>
								<p>Data Detective that has years of experience ...</p>
								<button class="btn btn-white">Partner detail</button>
							</article>
						</a>
					</li>
					<li>
						<a href="{{ path('partner_detail', {partner: 'ascoria'}) }}">
							<article>
							<h1>Ascoria</h1>
							<h2>#INTEGRATION #RETAIL</h2>
							<p>We show you your data in new context that makes money ...</p>
							<button class="btn btn-white">Partner detail</button>
							</article>
						</a>
					</li>
					<li>
						<a href="{{ path('partner_detail', {partner: 'startUpMetrics'}) }}">
							<article>
								<h1>StartupMetrics</h1>
								<h2>#OEM #BUSINESS</h2>
								<p>Your partner on the path to data-driven decisions ...</p>
								<button class="btn btn-white">Partner detail</button>
							</article>
						</a>
					</li>
					<li>
						<a href="{{ path('partner_detail', {partner: 'keboola-prague'}) }}">
							<article>
								<h1>Keboola Prague</h1>
								<h2>#DATAPRODUCTS #DATADRIVEN #TRAINING</h2>
								<p>Enabling data driven company structure through democratised BI ...</p>
								<button class="btn btn-white">Partner detail</button>
							</article>
						</a>
					</li>
					<li>
						<a href="{{ path('partner_detail', {partner: 'keboola-vancouver'}) }}">
							<article>
								<h1>Keboola Vancouver</h1>
								<h2>#DATAPRODUCTS #DATADRIVEN #TRAINING</h2>
								<p>Enabling data driven company structure through democratised BI ...</p>
								<button class="btn btn-white">Partner detail</button>
							</article>
						</a>
					</li>
					<li>
						<a href="{{ path('partner_detail', {partner: 'keboola-singapore'}) }}">
							<article>
								<h1>Keboola Singapore</h1>
								<h2>#DATAPRODUCTS #DATADRIVEN #BI</h2>
								<p>Enabling data driven company structure through democratised BI ...</p>
								<button class="btn btn-white">Partner detail</button>
							</article>
						</a>
					</li>
				</ul>
			</div></div>
		</section>
{% endblock %}
