{% extends "layout.html.twig" %}

{% block head %}
		<div class="header use-cases-header"><div class="in">
			{% include "header.html.twig" %}
			<article>
				<h1>Solutions</h1>
				<ul class="partners-head-list solutions">
					{#<li>#}
						{#<i class="ico-clevel"></i>#}
						{#<a href="{{ path('solution', {'case': 'c-level'}) }}">#}
							{#<h2><strong>C-LEVEL</strong> cases</h2>#}
						{#</a>#}
					{#</li>#}
					<li>
						<i class="ico-marketing"></i>
						<a href="{{ path('solution', {'case': 'marketing'}) }}">
							<h2><strong>MARKETING</strong> cases</h2>
						</a>
					</li>
					{#<li>#}
						{#<i class="ico-finance"></i>#}
						{#<a href="{{ path('solution', {'case': 'finance'}) }}">#}
							{#<h2><strong>FINANCE</strong> cases</h2>#}
						{#</a>#}
					{#</li>#}
					{#<li>#}
						{#<i class="ico-sales"></i>#}
						{#<a href="{{ path('solution', {'case': 'sales'}) }}">#}
							{#<h2><strong>SALES</strong> cases</h2>#}
						{#</a>#}
					{#</li>#}
					{#<li>#}
						{#<i class="ico-business"></i>#}
						{#<a href="{{ path('solution', {'case': 'business'}) }}">#}
							{#<h2><strong>BUSINESS</strong> cases</h2>#}
						{#</a>#}
					{#</li>#}
					{#<li>#}
						{#<i class="ico-logistics"></i>#}
						{#<a href="{{ path('solution', {'case': 'logistics'}) }}">#}
							{#<h2><strong>LOGISTICS</strong> cases</h2>#}
						{#</a>#}
					{#</li>#}
					{#<li>#}
						{#<i class="ico-saas"></i>#}
						{#<a href="{{ path('solution', {'case': 'saas'}) }}">#}
							{#<h2><strong>SAAS/StartUps</strong> cases</h2>#}
						{#</a>#}
					{#</li>#}
					<li>
						<i class="ico-agency"></i>
						<a href="{{ path('solution', {'case': 'agency'}) }}">
							<h2><strong>AGENCY</strong> cases</h2>
						</a>
					</li>
					{#<li>#}
						{#<i class="ico-customercare"></i>#}
						{#<a href="{{ path('solution', {'case': 'agency'}) }}">#}
							{#<h2><strong>CUSTOMER CARE</strong> cases</h2>#}
						{#</a>#}
					{#</li>#}
				</ul>
			</article>
		</div></div>
{% endblock %}



{% block content %}

	<section>
		<article class="article">
			<div class="in">
			{#	<div class="article-img-right"><img src="/img/sale-content-img.png" alt=""></div>#}
				<div class="desc">
					<h1>Solutions for different functions</h1>

					<p>We understand that each business department/type of the company
					has different requirements for BI. Although we think that everyone is unique we know that
					inspiration from the best is great. There fore we have asked our clients and they
					do share with you several examples how they use data within their daily routines. Please,
					refer to the above sections for different solutions.</p>

				</div>
			</div>
		</article>

		<article class="article blockquote">
			<div class="in">
				<blockquote>
					<p>	I really like to see people being able to retrieve very complicated information on their own within a couple of clicks. What would historically mean sending a request to finance and waiting a week or two to get some spreadsheet is now available to everyone with just a couple of clicks on nicely understandable dashboards. - T. Vyskocil</p>
				</blockquote>
			</div>
		</article>






{% endblock %}
